@model TSA.Infrastructure.DTOs.ProfileValueDTO

@{
    ViewData["Title"] = "Ver Profile Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile Value</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Profile" asp-action="Index">Listado de Profiles Values</a></li>
                    <li class="breadcrumb-item active">Ver Profile Value</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ver Profile Value</h3>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Value"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="@Model.Value" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 text-center">
                    <a asp-action="IndexProfileValues" asp-route-id="@ViewBag.ProfileType.Id" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</section>