@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Acceso Denegado</h1>
    <div class="row">
        <div class="col-12 text-center">
            Usted no tiene permisos para acceder a la opci&oacute;n seleccionada.
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <a asp-controller="Home" asp-action="Index" type="submit" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>